.pd_view_container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.pd_view_container .pd_view_wrapper {
  background-color: white;
  display: flex;
  gap: 50px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  border-radius: 20px;
}
.pd_view_container .pd_view_wrapper .pd_img_wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.pd_view_container .pd_view_wrapper .pd_img_wrapper .thumbnail_wrapper {
  width: 700px;
}
.pd_view_container .pd_view_wrapper .pd_img_wrapper .thumbnail_wrapper img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.pd_view_container .pd_view_wrapper .pd_img_wrapper .pd_images {
  display: flex;
  gap: 10px;
  flex-direction: row;
  width: 100%;
  max-width: 700px;
}
.pd_view_container .pd_view_wrapper .pd_img_wrapper .pd_images .pd_image_wrap {
  height: 100%;
  width: 100%;
}
.pd_view_container .pd_view_wrapper .pd_img_wrapper .pd_images .pd_image_wrap img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.pd_view_container .pd_view_wrapper .pd_data_rapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.pd_view_container .pd_view_wrapper .pd_data_rapper .pd_category {
  font-size: 18px;
  color: rgb(131, 124, 124);
}
.pd_view_container .pd_view_wrapper .pd_data_rapper .pd_category span {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  color: white;
  padding: 3px 10px;
  border-radius: 50px;
}
.pd_view_container .pd_view_wrapper .pd_data_rapper .pd_brand {
  font-size: 18px;
  color: rgb(131, 124, 124);
}
.pd_view_container .pd_view_wrapper .pd_data_rapper .pd_brand span {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  color: white;
  padding: 3px 10px;
  border-radius: 50px;
}
.pd_view_container .pd_view_wrapper .pd_data_rapper .pd_title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}
.pd_view_container .pd_view_wrapper .pd_data_rapper .pd_price {
  color: rgb(221, 88, 88);
  font-size: 20px;
  font-weight: bold;
}
.pd_view_container .pd_view_wrapper .pd_data_rapper .pd_discount {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
  font-weight: bold;
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  color: white;
  padding: 3px 10px;
  border-radius: 50px;
}
.pd_view_container .pd_view_wrapper .pd_data_rapper .pd_rating {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid grey;
  padding: 5px 10px;
  font-size: 20px;
  width: -moz-fit-content;
  width: fit-content;
}
.pd_view_container .pd_view_wrapper .pd_data_rapper .pd_desc {
  font-size: 18px;
  color: rgb(150, 143, 143);
}
.pd_view_container .pd_view_wrapper .pd_data_rapper .btn_wrapper {
  display: flex;
  gap: 20px;
}
.pd_view_container .pd_view_wrapper .pd_data_rapper .btn_wrapper .pd_cart_btn {
  width: 100%;
  font-size: 16px;
  letter-spacing: 2px;
  outline: none;
  border: 2px solid #fc5c7d;
  padding: 10px;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}
.pd_view_container .pd_view_wrapper .pd_data_rapper .btn_wrapper .pd_cart_btn:hover {
  background-color: #fc5c7d;
  color: white;
}
.pd_view_container .pd_view_wrapper .pd_data_rapper .btn_wrapper .pd_purchase_btn {
  width: 100%;
  font-size: 16px;
  letter-spacing: 2px;
  outline: none;
  border: 2px solid #6a82fb;
  padding: 10px;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}
.pd_view_container .pd_view_wrapper .pd_data_rapper .btn_wrapper .pd_purchase_btn:hover {
  background-color: #6a82fb;
  color: white;
}/*# sourceMappingURL=ViewProduct.css.map */